/* Navbar */

.header {
	font-family: 'Oxygen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 72px;
	background-color: #070707;
	display: flex;
	align-items: center;
	padding: 5px;
}

.header-logo {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #fffdfd;
	margin-left: 5%;
}

.header-menu {
	margin-left: auto;
	display: flex;
	margin-right: 4%;
}

.header-menu-button {
	padding: 3px;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	width: 90px;
	background-color: rgb(192, 192, 194);
	color: black;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid rgb(107, 107, 107);
}

/* pop-up */

label {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

input {
	margin-top: 8px;
	border: 1px solid #f5f5f5;
	font-size: 12px;
	padding: 8px;
}
textarea {
	margin-top: 8px;
	padding: 8px;
	border: 1px solid #f5f2f2;
}

select {
	padding: 4px;

	border: none;
	margin-top: 8px;
	background-color: rgb(243, 240, 245);
}

/* .main {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 15px;
	background-color: rgb(128, 64, 64);
} */

.main-form {
	display: none;
	top: 72px;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 1;
	min-width: 305px;
	width: 16%;
	background-color: rgb(168, 168, 168);
	flex-direction: column;
	padding: 20px;
	border-top-left-radius: 5px;
	border-left: 1px solid rgb(236, 235, 235);
	border-top: 1px solid rgb(255, 255, 255);
}

.main-form-toggle {
	top: 72px;
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 305px;
	width: 16%;
	background-color: rgb(211, 211, 211);
	display: block;
	flex-direction: column;
	padding: 20px;
	border-top-left-radius: 5px;
	border-left: 3px solid rgb(146, 146, 146);
	border-top: 3px solid rgb(141, 139, 139);
}
