/* Navbar */

.header {
	font-family: 'Oxygen', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 72px;
	background-color: #070707;
	display: flex;
	align-items: center;
	padding: 5px;
}

.header-logo {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #fffdfd;
	margin-left: 5%;
}

.header-menu {
	margin-left: auto;
	display: flex;
	margin-right: 4%;
}

.header-menu-button {
	padding: 3px;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	width: 90px;
	background-color: rgb(192, 192, 194);
	color: black;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid rgb(107, 107, 107);
}

/* pop-up */

label {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.dateDate {
	margin-top: 6px;
}

.main-form-show-input {
	font-family: 'Roboto', sans-serif;
	outline: 0;
	background: #f5f4f4;
	width: 100%;
	border: 0;
	margin: 6px 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
textarea {
	margin-top: 8px;
	padding: 8px;
	border: 1px solid #f5f2f2;
}

select {
	padding: 4px;

	border: none;
	margin-top: 6px;
	background-color: rgb(243, 240, 245);
}
.main-form-show-submit {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

.main-form-show-submit:hover {
	background: #43a047;
}

.main {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 30px;
	background-color: rgb(255, 255, 255);
}

.main-form {
	display: none;
	top: 72px;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 1;
	min-width: px;
	width: 16%;
	background-color: rgb(168, 168, 168);
	flex-direction: column;
	padding: 30px;
	border-top-left-radius: 5px;
	border-left: 1px solid rgb(236, 235, 235);
	border-top: 1px solid rgb(255, 255, 255);
}

.main-form-toggle {
	top: 77px;
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 305px;
	width: 16%;
	background-color: rgb(211, 211, 211);
	display: block;
	flex-direction: column;
	padding: 30px;
	border-top-left-radius: 5px;
	border-left: 3px solid rgb(146, 146, 146);
	border-top: 3px solid black;
}

/* kolon */

/* column */

.column {
	width: 60%;
	box-sizing: border-box;
	padding: 20px;
	min-width: 365px;
	margin-left: 10px;
	width: 30%;
	border: 1px solid rgb(173, 173, 173);
	box-shadow: 3px 3px 6px 0px rgba(99, 99, 99, 0.384);
	min-width: 310px;
	margin-bottom: 40px;
	text-align: center;
}
.column-header {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 18px;
	color: rgb(15, 15, 15);
	padding: 3px;
	border-bottom: 2px solid rgb(0, 0, 0);
}

/* Cards */

.card {
	color: black;

	margin-bottom: 18px;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.384);
	background-color: #d8fae1;
	padding: 10px;
	/* display: flex; */
	box-sizing: border-box;
}

.card-info-left {
	font-size: 14px;
	font-weight: 400;

	box-sizing: border-box;
	background-color: #a9eec6;

	text-align: center;
}

.card-info-left-header {
	padding: 4px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px dashed rgb(63, 60, 60);
}

.card-left-text {
	line-height: 1.5;
	padding: 10px;
}

.card-info-right {
	background-color: #55e792;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	color: honeydew;
}

.card-buttons {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 5px;
	outline: 0;
	background: #3fc8c9;
	width: 40%;
	border: 0;
	padding: 5px;
	color: #070707;
	font-size: 10px;
	cursor: pointer;
}

.card-buttons:hover {
	background: #5deeee;
}

.column-button {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	outline: 0;
	background: #f54040;
	width: 40%;
	border: 0;
	padding: 7px;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
}

.column-button-add {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	outline: 0;
	background: #05db57;
	width: 40%;
	border: 0;
	padding: 7px;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
}

.column-button:hover {
	background: #929191;
}
